:root {
  --primary: #F3EAF3;
  --secondary: #452B32;
  --accent-one: #A468BC;
  --accent-two: #847C84;
}

html,
body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.8;
}

button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

/* navigation */

.navbar__container {
  background-color: var(--primary);
}

.navbar__inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 945px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar__container a {
  color: var(--accent-one);
}

.navbar__container i {
  font-size: 2rem;
  color: var(--accent-one);
}
